@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
.logo {
  font-family: "Paytone One", sans-serif;
  font-size: 2.5rem;
}
.landing {
  margin-top: 2rem;
  background: url("./images/landing.png");
  background-size: cover;
  background-position: top;
  position: relative;
}
.landingtitle {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
}
